{% extends 'admins/base.html' %}

{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                {% if  messages %}
                    <div class="alert {% if messages.level == 20 %} alert-success {% else %} alert-warning
                        {% endif %}alert-dismissible fade show" role="alert"
                         style="margin-top: 50px;">
                        {% if messages %}
                            {% for mes in messages %}
                                {{ mes }}
                            {% endfor %}
                        {% endif %}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                <h1 class="mt-4">Заказы</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Заказы
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Номер заказа</th>
                                    <th>Имя пользователя</th>
                                    <th>Общее количество товаров</th>
                                    <th>Общяя стоимость товаров</th>
                                    <th>Статус</th>
                                    <th>Время создания</th>
                                    <th>Время обновления</th>
                                    <th>Изменить статус</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for order in object_list %}
                                    <tr>
                                        <td><a href="{% url 'orders:read' order.id %}"
                                               style="color: dodgerblue">
                                            {{ order.id }}</a></td>
                                        <td><a href="{% url 'admins:admin_users_update' user.id %}"
                                               style="color: dodgerblue">
                                            {{ user.first_name|title }} {{ user.last_name|title }}</a></td>
                                        <td>{{ order.get_total_quantity }}</td>
                                        <td>{{ order.get_total_cost }}</td>
                                        <td>{{ order.status }}</td>
                                        <td>{{ order.created }}</td>
                                        <td>{{ order.updated }}</td>

                                        <td><a href="{% url 'admins:change_status' order.id%}">
                                            <input class="btn btn-success btn-block" type="submit" value="Изменить">
                                        </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; GeekShop 2021</div>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}